- let names = ["Juan", "Jhon", "Paul", "Steph"]
- 
  let otherNames = [
    "Juan2", 
    "Jhon2", 
    "Paul2", 
    "Steph2"
  ]

ol 
  each name in names 
    li= name

ol
  each name in otherNames 
    li= name