h1=title
p
  | This hand crafted Meyda original earth toned stained glass window features a Russet Leaf surrounded by Honey Gold; Rich Browns and Verdant Grass Green with nature inspired acorn and leaves borders. A solid brass hanging chain and brackets are included.
h2 Finishes
table(width='100%' border='0')
  tbody
    tr
      td(bgcolor='#D7D7D7' width='')
        strong LENS COLOR: 
      td(width='70%') Available In: CORAL;AMBER GLASS (NOT MICA);GREEN;CHOCOLATE
    tr
      td(bgcolor='#D7D7D7' width='')
        strong BASE MATERIAL: 
      td(width='70%') Available In: METAL OR POLYRESIN
    tr
      td(bgcolor='#D7D7D7' width='')
        strong LENS MATERIAL: 
      td(width='70%') Available In: GLASS
h2 Bulbs
table(width='100%' border='0')
  tbody
h2 Weights and Measures
table(width='100%' border='0')
  tbody
    tr
      td(bgcolor='#D7D7D7' width='')
        strong ITEM MIN HEIGHT: 
      td(width='70%') 31
    tr
      td(bgcolor='#D7D7D7' width='')
        strong ITEM MAX HEIGHT: 
      td(width='70%') 31
    tr
      td(bgcolor='#D7D7D7' width='')
        strong ITEM MIN WIDTH: 
      td(width='70%') 21
    tr
      td(bgcolor='#D7D7D7' width='')
        strong ITEM MAX WIDTH: 
      td(width='70%') 21
    tr
      td(bgcolor='#D7D7D7' width='')
        strong ITEM MIN LENGTH: 
      td(width='70%') 21
    tr
      td(bgcolor='#D7D7D7' width='')
        strong ITEM MAX LENGTH: 
      td(width='70%') 21
h2 Installation Information
table(width='100%' border='0')
  tbody
    tr
      td(bgcolor='#D7D7D7' width='')
        strong LOCATION: 
      td(width='70%') DRY
h2 Shipping Information
table(width='100%' border='0')
  tbody
    tr
      td(bgcolor='#D7D7D7' width='')
        strong NUMBER OF BOXES: 
      td(width='70%') 1
    tr
      td(bgcolor='#D7D7D7' width='')
        strong BOX 1 SHIPPING HEIGHT: 
      td(width='70%') 41.875
    tr
      td(bgcolor='#D7D7D7' width='')
        strong BOX 1 SHIPPING WIDTH: 
      td(width='70%') 26.875
    tr
      td(bgcolor='#D7D7D7' width='')
        strong BOX 1 SHIPPING LENGTH: 
      td(width='70%') 5.625
    tr
      td(bgcolor='#D7D7D7' width='')
        strong BOX 1 WEIGHT: 
      td(width='70%') 19
    tr
      td(bgcolor='#D7D7D7' width='')
        strong BOX 1 DIM WEIGHT: 
      td(width='70%') 49
